body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
#top-navbar .header {
    z-index: 1;
    background: whitesmoke;
    height: 60px;
    position: fixed;
    /* left: 0; */
    width: calc(100% - 0%);
    top: 0;
}

/* sidebar */
.sidebar {
    z-index: 1;
    top: 0;
    background: #2f323a;
    margin-top: 56px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    /* height: 100%; */
    height: calc(100% - 7%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.sidebar .profile_info {
    /* color: #ccc; */
    margin-bottom: 20px;
}
.sidebar .profile_info img {
    width: 125px;
    height: 125px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.sidebar .profile_info .media_icons {
    display: flex;
    justify-content: center;
}

.sidebar .profile_info .media_icons a {
    padding: 5px;
}

/* ---- sidebar section list ----- */
#section_list {
    padding-bottom: 35px;
}
#section_list a {
    display: block;
    width: 100%;
    line-height: 35px;
    padding-left: 40px;
    box-sizing: border-box;
}
#section_list a i {
    padding-right: 25px;
}

/* ---------- sidebar hide -------------- */

#check:checked ~ .sidebar {
    left: -190px;
}

#check:checked ~ .sidebar .profile_info {
    display: none;
}
#check:checked ~ .sidebar .divider {
    display: none;
}

#check:checked ~ .sidebar #section_list a span {
    display: none;
}

#check:checked ~ .sidebar #section_list a i {
    font-size: 20px;
    margin-left: 165px;
}

#top-navbar img {
    display: none;
}

#check:checked ~ #top-navbar img {
    display: block;
}

#check {
    display: none;
}

/* SECTION CONTENT */

.category {
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    background-color: whitesmoke;
    margin-left: 250px;
    opacity: 0.5;
}
.category h2 {
    padding-top: 70px;
    text-align: center;
}

#check:checked ~ .category {
    margin-left: 60px;
}

#home {
    background: url("./images/bg3.png") no-repeat;
    background-position: center center;
    background-size: 50%;
    height: 100vh;
}

#about {
    background: url("./images/bg1.png") no-repeat;
    background-position: center center;
    background-size: 50%;
    height: 100vh;
}
#projects {
    background: url("./images/bg2.png") no-repeat;
    background-position: center center;
    background-size: 50%;
    height: 100vh;
}
#skills {
    background: url("./images/bg3.png") no-repeat;
    background-position: center center;
    background-size: 50%;
    height: 100vh;
}
#academics {
    background: url("./images/bg4.png") no-repeat;
    background-position: center center;
    background-size: 50%;
    height: 100vh;
}
#achievements {
    background: url("./images/bg1.png") no-repeat;
    background-position: center center;
    background-size: 50%;
    height: 100vh;
}
#contact {
    background: url("./images/bg2.png") no-repeat;
    background-position: center center;
    background-size: 50%;
    height: 100vh;
}

.mobile_nav {
    display: none;
}

/* Responsive CSS */

@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }
    #top-navbar img {
        display: block;
    }
    .category {
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }
    #check:checked ~ .category {
        margin-left: 0;
    }
    #top-navbar .header {
        z-index: 1;
        background: #222;
        color: whitesmoke;
    }

    .mobile_nav {
        z-index: 1;
        display: block;
        width: calc(100% - 0%);
        margin-top: 55px;
        position: fixed;
        overflow: auto;
    }

    .mobile_nav_items {
        background: #2f323a;
        display: none;
    }

    .mobile_nav_items a {
        color: #fff;
        display: block;
        /* text-align: center; */
        letter-spacing: 1px;
        line-height: 25px;
        text-decoration: none;
        box-sizing: border-box;
    }

    .mobile_nav_items i {
        padding-right: 10px;
    }

    .active {
        display: block;
    }
}
